body{
    font-family:  "Ubuntu Light","sans-serif";

}
.pb-0{
	padding-bottom: 0%;
}

.pt-5{
	padding-top: 5%;
}

.pt-5{
	padding-bottom: 5%;
}

.pd-5{
	padding: 5%;
}

/*nav*/
.navbar-default{
	background-color: white;
	border-color: #ff7b60;
}

.navbar-nav{
	float: right;
}

.navbar-default .navbar-nav>li>a{
    color:#4A7FFD;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
}

.navbar-default .navbar-nav>li .page-scroll:hover{
	color: #767575;
}

.navbar-brand{
	padding: 0%;
}

.logo{
	height: 110%;
}

.trab-juntos{
	border-radius: 20px;
    border: 2px solid #14c6cc;
	text-decoration: none;

}

.navbar-default .navbar-nav>li .trab-juntos:hover{
    color: #fff;
    background-color: #14c6cc;

}
/*intro-section*/
.intro-section{
    background: url("../img/fondo.jpeg") fixed;
    background-size:cover;
    color: #ffffff;
	padding: 0;
}
.intro-section .container{
	background-color: rgba(25, 25, 25, .5);
	width: 100%;
	height: 100%;
	margin: 0;
}
.intro-section .container h1{
	margin-top: 15%;
	margin-bottom: 15%;
    color: #f5f5f5;
    hyphens: auto;
}

@media(max-width: 765px) {
    .intro-section .container h1 {
        margin-top: 80%;
        margin-bottom: 15%;
        font-size: 2em;
    }
    .about-section img{
        width: 25%;
        margin: auto;
    }
}

@media(max-width: 970px) and (min-width: 765px){
    .intro-section .container h1 {
        margin-top: 40%;
        margin-bottom: 15%;
        font-size: 3em;
    }
}

@media(max-width: 1170px) and (min-width: 970px){
    .intro-section .container h1 {
        margin-top: 25%;
        margin-bottom: 15%;
        font-size: 3em;
    }
}
@media(min-width: 1170px){
    .intro-section .container h1 {
        margin-top: 20%;
        margin-bottom: 15%;
        font-size: 3em;
    }
}
.flecha{
	font-size: 30px;
	color: white;
}
/* end intro-section*/


/*about-section*/
.about-section{
	background-color: #ffffff;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	height: 100%;
    color:#337AB7;
}
.about-section img{
    width: 75%;
    margin: auto;
}

.anim{
    position: relative;
    width: 100%;
    top: -150px;
}

hr{
    background-color: #337ab7;
    color:#337AB7;
}

/*services-section*/
.services-section{
    height: 100%;
}
.services-section .container{
	width: 100%;
    height: 100%;
}

.services-section .container .col-md-4{
	padding: 0%;
}

.services-section .col-md-4 h2{
	padding-top: 55%;
	padding-bottom: 5%;
}


.services-section a{
	text-decoration: none;
}

.services-section .container .row .container{
    background-color: rgba(25, 25, 25, .5);
    color: #f7f7f7;
}

.web{
	background-image: url("../img/web.jpg");
	background-size: cover;
}

.marcas{
	background-image: url("../img/marcas.jpg");
    background-size: cover;

}

.social{
	background-image: url("../img/social.jpeg");
    background-size: cover;

}

.help{
    color: #337AB7;
}

.help h1{
    margin: 1.5em auto;
}

/*contact-section*/



.contact-section{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}

.contact-section .container{
    padding-right: 20%;
    padding-left: 20%;
}

.contact-section .container .row .form-control {
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
    font-size: 1em;
    text-align: center;
    height: 27px;
    color: #6d6d6d;
}
.contactButton {
    background-color: #14C6CC;
    border-radius: 50%;
    border-color: #14C6CC;
    height: 65px;
    color:#fff;

}
.contactButton:hover{
    background-color: #13aaad;
    border-radius: 50%;
    height: 65px;
}

.prices{
    background-color: rgba(244, 244, 244, 0.97);
    border-radius: 10px;
}

#cohete{
    position: relative;
    width: 25%;
}

.testCohete{
    animation: coheteX 12000ms  linear;
}
@keyframes coheteX {
    0%{
        transform: scale(2) rotate(-45deg);
        bottom:0px;
    }
    100%{
        bottom:100px;
        transform: scale(1) rotate(-45deg);;

    }
}